.home-container {
    padding: 10px;

    .welcom-message {
        font-size: 14px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .health-rate-card {
        position: relative;
        background-color: #589eff;
        width: auto;
        height: 130px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
}